.tasks-card {
  font-size: 18px;
  line-height: 22px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px -12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px -12px;
  height: 100%;
  width: 100%;
}

.task-list {
  margin: 0 0 24px;
  border-top: 1px solid #ededed;
}

.task-item {
  color: #3c763c;
  position: relative;
  background: white;
  transition: color 0.1s ease-out;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.task-name {
  width: 90%;
}

.task-done {
  width: 10%;
}

.main {
  position: relative;
  height: 100%;
  padding: 25px;
  margin: 0;
}

.clear-btn {
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background: #66B266;
  color: white;
  box-shadow: inset #3c763c 0 -2px 0;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-out;
  border-radius: 4px;
}

.add-btn {
  width: 20%;
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background: #66B266;
  color: white;
  box-shadow: inset #3c763c 0 -2px 0;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-out;
  border-radius: 4px;
}

.new-task-input {
  width: 75%;
  font-size: 14px;
  color: #66B266;
  outline: none;
}