<div class="main">
    <mat-card class="tasks-card">
        <mat-card-content>
            <div class="task-item">
                <mat-input-container floatPlaceholder="auto" class="new-task-input">
                    <input matInput type="text" placeholder="New Task" [(ngModel)]="newTask">
                </mat-input-container>
                <button [disabled]="!newTask || newTask.length < 1" mat-button (click)="add()" class="add-btn">Add</button>
            </div>
            <p class="task-item " *ngIf="!taskList || taskList.length < 1">
                All tasks have been completed!
            </p>
            <mat-list *ngIf="taskList && taskList.length >= 1" dense class="task-list">
                <mat-list-item *ngFor="let task of taskList" class="task-item fade" [ngClass]="{'completed': task.done }">
                    <span class="task-name">
                        {{task.name}}
                    </span>
                    <div class="task-done">
                        <button *ngIf="task.done" mat-icon-button (click)="updateStatus(task.key, false)" class="check">
                            <mat-icon class="mat-18">check_circle</mat-icon>
                        </button>
                        <button *ngIf="!task.done" mat-icon-button (click)="updateStatus(task.key, true)" class="check">
                            <mat-icon class="mat-18">radio_button_checked
                            </mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="!completedTasks || completedTasks.length < 1" mat-button (click)="clearCompleted()"
                class="clear-btn">Clear Completed Tasks</button>
        </mat-card-actions>
    </mat-card>
</div>